/*
* Dark Colors
* ------------------
*/
body.dark {
	--ion-color-primary: #428cff;
	--ion-color-primary-rgb: 66, 140, 255;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #3a7be0;
	--ion-color-primary-tint: #5598ff;
	--ion-color-secondary: #50c8ff;
	--ion-color-secondary-rgb: 80, 200, 255;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #46b0e0;
	--ion-color-secondary-tint: #62ceff;
	--ion-color-tertiary: #6a64ff;
	--ion-color-tertiary-rgb: 106, 100, 255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #5d58e0;
	--ion-color-tertiary-tint: #7974ff;
	--ion-color-success: #2fdf75;
	--ion-color-success-rgb: 47, 223, 117;
	--ion-color-success-contrast: #252525;
	--ion-color-success-contrast-rgb: 0, 0, 0;
	--ion-color-success-shade: #29c467;
	--ion-color-success-tint: #44e283;
	--ion-color-warning: #ffd534;
	--ion-color-warning-rgb: 255, 213, 52;
	--ion-color-warning-contrast: #252525;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0bb2e;
	--ion-color-warning-tint: #ffd948;
	--ion-color-danger: #ff4961;
	--ion-color-danger-rgb: 255, 73, 97;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #e04055;
	--ion-color-danger-tint: #ff5b71;
	--ion-color-dark: #f4f5f8;
	--ion-color-dark-rgb: 244, 245, 248;
	--ion-color-dark-contrast: #252525;
	--ion-color-dark-contrast-rgb: 0, 0, 0;
	--ion-color-dark-shade: #d7d8da;
	--ion-color-dark-tint: #f5f6f9;
	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152, 154, 162;
	--ion-color-medium-contrast: #252525;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;
	--ion-color-light: #252525;
	--ion-color-light-rgb: 34, 36, 40;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255, 255, 255;
	--ion-color-light-shade: #1e2023;
	--ion-color-light-tint: #383a3e;
}
/*
* iOS Dark Theme
* -------------------
*/
	.ios body.dark {
	--ion-background-color: #252525;
	--ion-background-color-rgb: 0, 0, 0;
	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255, 255, 255;
	--ion-color-step-50: #000000;
	--ion-color-step-100: #292929;
	--ion-color-step-150: #262626;
	--ion-color-step-200: #333333;
	--ion-color-step-250: #404040;
	--ion-color-step-300: #4d4d4d;
	--ion-color-step-350: #595959;
	--ion-color-step-400: #666666;
	--ion-color-step-450: #737373;
	--ion-color-step-500: #808080;
	--ion-color-step-550: #8c8c8c;
	--ion-color-step-600: #999999;
	--ion-color-step-650: #a6a6a6;
	--ion-color-step-700: #b3b3b3;
	--ion-color-step-750: #bfbfbf;
	--ion-color-step-800: #cccccc;
	--ion-color-step-850: #d9d9d9;
	--ion-color-step-900: #e6e6e6;
	--ion-color-step-950: #f2f2f2;
	--ion-toolbar-background: #252525;
	--ion-item-background: #252525;
	--ion-item-background-activated: #313131;
}
/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-item {
	--transition: none;
}
/* ipad */
.mobil {
	width:360px;
	height:100%;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
}
body {
	background-color:white;
}
.pass{
	width: calc(100vw - 360px);
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: white;
}
#p{
	text-align:center;
	margin: 0 auto;
	position: absolute; 
	left: 0;
	right: 0;
	top: 50%; 
	transform: translateY(-50%);
}
@media (prefers-color-scheme: light) {
/* 若浏览器支持 backdrop-filter，则透明度为 50%，并启用毛玻璃 */
	@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    	.in {
			/*background: rgba(0, 0, 0, 0);*/
    	    -webkit-backdrop-filter: blur(20px);
    	    backdrop-filter: blur(20px);
    	    color: #000000;
			position: fixed;
			top: -77px;
			left: 1.5vw;
			width: 97vw;
			height: 77px;
			z-index: 999;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			display: none;
			padding: 3px;
			text-indent: 5px;
			line-height: 2px;	
			box-shadow: 0px 10px 30px rgba(0, 0, 0, .18), 0px 6px 10px rgba(0, 0, 0, .22);
    		resize: none;
			flex-direction:column;
			justify-content:space-between;
			contain:layout size style;
			overflow:hidden;
		}
	}
	/* 若浏览器器不支持，则使用 MaterialDesign 的风格 */
	@supports not ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    	*/
		.in {
    	    background-color:white;
			color: #000000;
			position: fixed;
			top: -77px;
			left: 30px;
			width: calc(100vw - 60px);
			height: 77px;
			z-index: 999;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			display: none;
			padding: 1px;
			text-indent: 3px;
			line-height: 2px;
			box-shadow: 0px 10px 30px rgba(0, 0, 0, .18), 0px 6px 10px rgba(0, 0, 0, .22);
			resize: none;
		}
	}
}
@media (prefers-color-scheme: dark) {
/* 若浏览器支持 backdrop-filter，则透明度为 50%，并启用毛玻璃 */
	@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    	.in {
			background: rgba(109, 105, 105, 0.18);
    	    -webkit-backdrop-filter: blur(20px);
    	    backdrop-filter: blur(20px);
    	    color: #f8eeee;
			position: fixed;
			top: -77px;
			left: 1.5vw;
			width: 97vw;
			height: 77px;
			z-index: 999;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			display: none;
			padding: 3px;
			text-indent: 5px;
			line-height: 2px;	
			box-shadow: 0px 10px 30px rgba(0, 0, 0, .18), 0px 6px 10px rgba(0, 0, 0, .22);
    		resize: none;
		}
	}

	/* 若浏览器器不支持，则使用 MaterialDesign 的风格 */
	@supports not ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    	.in {
    	    background: #404040;
			color: white;
			position: fixed;
			top: -77px;
			left: 30px;
			width: calc(100vw - 60px);
			height: 77px;
			z-index: 999;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			display: none;
			padding: 1px;
			text-indent: 3px;
			line-height: 2px;
			box-shadow: 0px 10px 30px rgba(0, 0, 0, .18), 0px 6px 10px rgba(0, 0, 0, .22);
			resize: none;
		}
	}
}
.wait{
	display: none;
	background: rgba(0, 0, 0, 0.57);
   	-webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
	z-index: 999;
	height: 60px;
	width: 140px;
	padding: 7px;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	color: white;
	top: 40vh;
	left: calc(50vw - 70px);
}
#passage{
	user-select:text;
}
